.navbar-nav li:nth-child(3) a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 3px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.about-pic {
	float: left;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	text-align: left;
}
.about-pic img {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.about-pic img:nth-child(3) {
	padding-right: 0;
}
